* {
    margin: 0 auto;
    font-family: 'Monument Extended', sans-serif;   
    border: solid yellow; 
                                
}
.toppage {
    display: flex;
    flex-direction: column;    
}
nav {
    width: 100%;
    height: 6em;
    background: rgb(0,91,255);
    display: flex;
    padding: 5px;
}

nav > img {
    max-width: 6em;
    background-color: white;
    border-radius: 10px;
}
.teams {
    display: flex;
    border: solid red;
    height: 12em;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.teamname > img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    margin: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
    border: solid green;
    justify-content: center;
    width: 100%;
}

.title {
    font-size: 1,5vw;
    margin: 10px auto;
    color: rgb(23, 29, 141);
}

#round {
    border-radius: 150px;
}

.teamname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(23, 29, 141);
    min-width: 210px;
}