* {
    margin: 0 auto;
    font-family: 'Monument Extended', sans-serif;                            
}
.toppage {
    display: flex;
    flex-direction: column;
}
nav {
    min-width: 100%;
    height: 7em;
    background: rgb(23,29,141);
    display: flex;
    padding: 5px 0;
}

.nav-title > img {
    max-width: 10em;
    background-color: white;
    border-radius: 10px;
    margin: 6px auto;
}
.teams {
    display: flex;
    gap: 20px;
    height: 12em;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.teamname > img {
    height: auto; 
    width: auto; 
    max-width: 290px; 
    max-height: 290px;
    margin: 10px;
}

@media screen and (max-width: 520px) {
    .teamname > img {
         width: 80px;
    }

    .teamname > p {
        width: 178px;
    }
    .teamname {
        min-width: 174px;

    }

    #imgs {
        max-width: 350px;
    }
}

.intro {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    
}

.title {
    font-size: 1,5vw;
    text-align: center;
    margin: 10px auto;
    color: rgb(23, 29, 141);
}

.title:hover {
    color: rgb(0,135,255);
}

#round {
    border-radius: 150px;
}

.teamname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(23, 29, 141);
}

.teamname > p {
text-align: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history {
    display: flex;
    align-items: center;
    margin: 100px auto;
    border: solid lightgray 1px;
    width: 934.28px;
    height: 300px;
}

h3 {
    font-weight: 20;
}

.text > p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#imgs {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: auto;
}

.text > h3 {
    margin-bottom: 20px;
    font-size: 29px;
}

.text {
    padding: 35px;
    display: block;
    margin: 0 auto;
}


@media (max-width: 970px) { 
    .text { display: none; } 

    .history {width: fit-content;}
} 


.text > p {
    margin-bottom: 20px;
}
.text > h6 {
    font-size: 16px;
    color: rgb(32,71,227);
}

.text > h6:hover{
    color: rgb(0,135,255);
}

footer {
    height: 6em;
    background-color: rgb(23,29,141);
}

.f1 {
    height: 2em;
    background-color: rgb(0,232,238);
}






.nav {
    min-width: 100%;
    height: 7em;
    background: rgb(23,29,141);
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 10px;
      max-height: 7em;
      padding: 50px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgb(23,29,141);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }